:root{
    --color-bg: #0E0D11;
   --color-primary: #1A1A1A;
    --color-secondary: #F2F3F4;
}

 /**---- Universal settings ----**/
 body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--color-bg);
 }

/**---- Less Universal settings (aka classes) ----**/

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(242, 243, 244, 0.5);
    background-blend-mode: screen;
    justify-content: center;
    border-radius: 200px;
    font-family: "kit-rounded-variable", sans-serif;
    font-variation-settings: "wght" 700;
    color: var(--color-primary);
}

.card{
    max-width: 490px;
    height: 90px;
    margin-top:20px;
    display: flex;
    font-size: 24.28pt;
}

.card_text{
    margin: 0;
    align-self: center;
}

.heart_left{
    scale:1.2;
    align-self:flex-start;
}

.heart_right{
    scale:1.2;
    align-self: flex-end;
}

/**---- Even less Universal settings (id) ----**/

#home_button{
    margin-top: 3%;
    margin-left: 5%;
}

#home_button_circle{
    fill:var(--color-secondary);
    opacity:0.5;
}

#home_icon{
    fill:var(--color-primary)
}

#title_card{
    max-width: 490px;
    height: 140px;
    margin-bottom: 170px;
}

#title_text{
    text-align: center;
    font-size: 32pt;
    margin-top: 0;
    margin-bottom: 0;
}

#title_subtext{
    margin:0;
    text-align: center;
    font-size: 19pt;
}